    <div class="container">
      <h1><span>Y</span>elp <span>R</span>eview <span>G</span>enerator</h1>
      <br>

      <form class="form-horizontal" role="form" action="welcome/show" method="get">
        <div class="form-group">
          <label class="control-label" for="restaurant">Restaurant</label>
          <div>
            <input type="text" class="form-control" name="restaurant" placeholder="Enter Restaurant Name" required>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label" for="overall">Overall</label>
          <table>
          <tr class="radioRow">
              <td>
                <label class="radio-inline"><input type="radio" name="overall" value="very_good" required>Very Good</label>
              </td>
              <td>
                <label class="radio-inline"><input type="radio" name="overall" value="good">Good</label>
              </td>
              <td>
                <label class="radio-inline"><input type="radio" name="overall" value="bad">Bad</label>
              </td>
            </tr>
          </table>
        </div>




        <div class="form-group">
          <label class="control-label">Some things about the restaurant</label>
          <table>
            <% [['busy', 'empty'], ['long_wait', 'quiet'], ['loud', 'hole_in_a_wall'], ['homey', 'modern'] ].each do |value| %>
            <tr>
              <td>
                <label class="checkbox-inline"><input type="checkbox" name="profile[]" value="<%=value[0]%>"><%=value[0].gsub('_', ' ')%></label>
              </td>
              <td>
                <label class="checkbox-inline"><input type="checkbox" name="profile[]" value="<%=value[1]%>"><%=value[1].gsub('_', ' ')%></label>
              </td>
            </tr>
            <% end %>
          </table>
        </div>

        <div class="form-group">
          <label class="control-label">Some things about the food</label>
          <table>
            <% [['delicious', 'fresh_ingredients'], ['unique', 'large_portion'], ['bland', 'not_tasty'], ['cold', 'flavorful'] ].each do |value| %>
            <tr>
              <td>
                <label class="checkbox-inline"><input type="checkbox" name="dish[]" value="<%=value[0]%>"><%=value[0].gsub('_', ' ')%></label>
              </td>
              <td>
                <label class="checkbox-inline"><input type="checkbox" name="dish[]" value="<%=value[1]%>"><%=value[1].gsub('_', ' ')%></label>
              </td>
            </tr>
            <% end %>
          </table>

        </div>

        <div class="form-group">
          <label class="control-label">Best</label>
          <table>
            <% [['none', 'food', 'service'], ['ambience', 'portion', 'price']].each do |value| %>
            <tr class="radioRow">
              <td>
                <label class="radio-inline"><input type="radio" name="best[]" value="<%= value[0] %>"><%= value[0] %></label>
              </td>
              <td>
                <label class="radio-inline"><input type="radio" name="best[]" value="<%= value[1] %>"><%= value[1] %></label>
              </td>                
              <td>
                <label class="radio-inline"><input type="radio" name="best[]" value="<%= value[2] %>"><%= value[2] %></label>
              </td>
            </tr>
            <% end %>
          </table>
        </div>

        <div class="form-group">
          <label class="control-label">Worst</label>
          <table>
            <% [['none', 'food', 'service'], ['ambience', 'portion', 'price']].each do |value| %>
            <tr class="radioRow">
              <td>
                <label class="radio-inline"><input type="radio" name="worst[]" value="<%= value[0] %>"><%= value[0] %></label>
              </td>
              <td>
                <label class="radio-inline"><input type="radio" name="worst[]" value="<%= value[1] %>"><%= value[1] %></label>
              </td>                
              <td>
                <label class="radio-inline"><input type="radio" name="worst[]" value="<%= value[2] %>"><%= value[2] %></label>
              </td>
            </tr>
            <% end %>
          </table>
        </div>

        <input class='btn btn-primary' type="submit" value="Generate!">
      </form>
    </div>
    <br/>
    <br/>
